.character_card {
  /* width: 100%; */
  /* margin: 0 0 40px; */
  background-color: gainsboro;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px #ccc;
  overflow: hidden;
}

.character_card:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

.character_img {
  width: 100%;
}

.character_info {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.favButton button {
  width: 30px;
  height: 30px;
  border: none;
  background: #A8A8A8;
  border-radius: 30px;
  cursor: pointer;
}

.favButton button:hover {
  transform: scale(1.02);
  transition: all 0.2s;
  background: #5C5C5C; ;
}