.App {
  text-align: center;
  display: grid;
  grid-template-areas:
  'h'
  'c';
  grid-template-rows: 50px 1fr;
  height: 100vh;
  background-color: antiquewhite;
}

.content-wrapper {
  grid-area: c;
}

body {
  background-color: antiquewhite;
}